body {
  background-color: magenta;
}

h1 {
  color: black;
  text-align: center;
  font-family: "Chalkduster", fantasy;
}

p {
  color: black;
  text-align: center;
  font-family: "Stencil std", fantasy;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
