<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
</style>
</head>
<body>

<h1>Who Is This Kid?</h1>
<p>My name is Ian Flanders. I make music. I am a junior at James Campbell Highschool. <br>I play football. And I'm short.</p>

</body>
</html>
