body {
  background-color: grey;
}

h1 {
  color: darkred;
  text-align: center;
  font-family: "Chalkduster", fantasy;
  font-size: 50px
}

p {
  color: darkred;
  text-align: center;
  font-family: "Stencil std", fantasy;
  font-size: 20px
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
  border-right: 1px solid white;
}
/*This is what changes the font of my navbar*/
li a {
  display: block;
  color: darkgreen;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

h2 {
   color: darkred;
  text-align: center;
  font-family: "Chalkduster", fantasy;
  font-size: 45px
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%, "height": 10%;
}

